/* =========================
        Layout 1 styling
   ========================= */
   /* =========================
   NAVIGATION & LAYOUT
   ========================= */
.navigation {
    display: flex;
    position: absolute;
    bottom: 50%;
    z-index: 1;
    width: 100%;
    pointer-events: none; 
}
/* =========================
   CAROUSEL CONTAINER
   ========================= */
.carousel-wrapper {
  position: relative;
}
.swiper {
    padding-bottom: 80px;
}
/* =========================
   CAROUSEL BUTTONS BASE
   ========================= */
.carousel-button-prev,
.carousel-button-next {
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    pointer-events: none !important;
    position: absolute;
    z-index: 10;
    bottom: 40%;

    background-color: transparent;    
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
}
.carousel-button-prev svg,
.carousel-button-next svg {
    transition: all 0.25s ease-in-out;
    pointer-events: none;
}
.carousel-button-prev svg path,
.carousel-button-next svg path {
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    transition: all 0.25s ease-in-out;
}
.carousel-button-prev svg > g,
.carousel-button-next svg > g {
    pointer-events: visiblePainted !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
/* =========================
   CAROUSEL BUTTONS POSITION
   ========================= */
.carousel-button-next{
    left: 19.4%;
}
.carousel-button-prev{
    left: -3.5%;
}
/* =========================
   CAROUSEL BUTTONS HOVER
   ========================= */
.carousel-button-prev svg > g:hover  path,
.carousel-button-next svg > g:hover path {
    fill: #480E66;
}
.carousel-button-prev:hover svg path,
.carousel-button-next:hover svg path {
    filter: none !important;
}
/* =========================
   PREV BUTTON VISIBILITY
   ========================= */
.carousel-wrapper .carousel-button-prev {
    opacity: 0; 
    pointer-events: none;
    transform: translateX(-120px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.carousel-wrapper.has-seen-prev .carousel-button-prev {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
/* =========================
   SWIPER SLIDES
   ========================= */
.carouselSwiper .swiper-slide {
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    transform-origin: top center;  
    will-change: transform;
    position: relative;
}
.carouselSwiper .swiper-slide-active {
    opacity: 1;
    transition: all .3s ease-in-out;
    transform: scaleY(1.11);
}
.carouselSwiper .swiper-slide-prev {
    opacity: 0 !important;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.card-media img {
    width: 100%;
}
.card-heading {
    display: flex;
}
/* =========================
     SLIDE TITLES REDUCE
   ========================= */
.carouselSwiper .swiper-slide.swiper-slide-active .card-price,
.carouselSwiper .swiper-slide.swiper-slide-active .card-title {
    font-size: 1.625rem !important;
}
.carouselSwiper .swiper-slide.swiper-slide-active .card-tag {
    font-size: 1.25rem !important;
}
.carouselSwiper .swiper-slide .card-title {
    font-size: 1.25rem !important;
}
.carouselSwiper .swiper-slide .card-price,
.layout_1 .carouselSwiper .swiper-slide .card-tag {
    font-size: 1.125rem !important;
}
.carouselSwiper .swiper-slide .card-title,
.carouselSwiper .swiper-slide .card-price,
.carouselSwiper .swiper-slide .card-title .card-tag {
    transition: font-size 0.2s ease;
}
/* =========================
   NAVIGATION REPONSIVE POSITION
   ========================= */
@media (max-width: 1366px){
    .carousel-button-prev svg,
    .carousel-button-next svg{
       height: 78px;
       width: auto;
    }
    .carousel-button-prev{
        left: -2.5%;
    }

    .carousel-button-next{
        left: 20%;
    }
}
@media (max-width: 1024px){
    .carousel-button-prev{
        left: -4.2%;
    }

    .carousel-button-next{
        left: 26%;
    }
    .layout_1 .carousel-button-next{
        left: 28%;
    }
    .carouselSwiper .swiper-slide-next .card-price,
    .carouselSwiper .swiper-slide-next .card-title,
    .carouselSwiper .swiper-slide-next .card-tag {
        font-size: 1.1rem !important;
    }
}
@media (max-width: 768px) and (min-width: 430px){
    .carousel-button-prev{
        left: -5%;
    }

    .carousel-button-next{
        left: 76.5%;
    }
}
@media (max-width: 680px) and (min-width: 620px){
    .carousel-button-prev{
        left: -5%;
    }

    .carousel-button-next{
        left: 75.7%;
    }
}
@media (max-width: 620px) and (min-width: 520px){
    .carousel-button-prev{
        left: -5.5%;
    }

    .carousel-button-next{
        left: 74.5%;
    }
}
@media (max-width: 520px) and (min-width: 430px){
    .carousel-button-prev{
        left: -6%;
    }

    .carousel-button-next{
        left: 73%;
    }
}
@media (max-width: 430px) and (min-width: 400px){
    .carousel-button-prev{
        left: -6.3%;
    }

    .carousel-button-next{
        left: 71%;
    }
}
@media (max-width: 400px) and (min-width: 350px){
    .carousel-button-prev{
        left: -7%;
    }

    .carousel-button-next{
        left: 69.8%;
    }
}
@media (max-width: 350px) {
    .carousel-button-prev{
        left: -9%;
    }

    .carousel-button-next{
        left: 68%;
    }
}
/* =========================
        Layout 2 styling
   ========================= */
@media(min-width: 1024px){
    .carousel-wrapper.layout_2 .swiper {
        height: 560px;
    }
    .carousel-wrapper.layout_2 .swiper-slide figure img {
        height: 182px !important;
        object-fit: cover;
        border-radius: 8px !important;
    }
    .carousel-wrapper.layout_2 .swiper-slide-active figure img{
        transition: all .5s ease-in-out;
        transform: scaleX(1.2) scaleY(1);
        transform-origin: center;
        will-change: transform; 
        position: relative; 
        margin-left: 40px;
    }
    .carousel-wrapper.layout_2 .swiper-slide-active .card-title {
        transform: none !important; 
    }
    .carousel-wrapper.layout_2 .swiper-slide-next {
        margin-left: 80px;
    }
    .carousel-wrapper.layout_2 .swiper-slide-active.swiper-slide figure img{
        height: 260px !important;
        object-fit: cover;
    }
    .carousel-wrapper.layout_2 .swiper-slide-active .card-tag {
        font-size: 0.938rem !important;
    }
    .layout_2 .text {
        padding: .4rem 1.375rem 0 1.375rem;
    }
    .carousel-wrapper.layout_2 .carouselSwiper .swiper-slide figure img{
        transition: all 0.5s ease-in-out !important; 
    }
    .layout_2 .carouselSwiper .swiper-slide .card-tag {
        font-size: .938rem !important;
    }
    .layout_2 .carouselSwiper .swiper-slide .card-title {
        font-size: 1.375rem !important;
    }
    .layout_2 .carouselSwiper .swiper-slide .date {
        font-size: .875rem !important;
    }
    .layout_2 .carouselSwiper .swiper-slide.swiper-slide-active .date {
        font-size: .938rem !important;
    }
}
.layout_2 .card-tag {
    padding-top: 1.25rem;
}
.date {
    font-size: 0.938rem;
    margin-bottom: 0.375rem;
}
/* =========================
   NAVIGATION REPONSIVE POSITION
   ========================= */
.layout_2 .navigation {
    bottom: 55%;
}
.layout_2 .carousel-button-next{
    left: 27.7%;
}
@media (max-width: 1366px){
    .layout_2 .carousel-button-next{
        left: 28.8%;
    }
}
@media (max-width: 1024px){
    .layout_2 .carousel-button-prev{
        left: -3.2%;
    }
    .layout_2 .carousel-button-next{
        left: 42.7%;
    }
    .carouselSwiper.layout_2 .swiper-slide-prev {
        opacity: 1 !important;
    }
}
@media (max-width: 768px){
    .layout_2 .carousel-button-prev{
        left: -1.5%;
    }
    .layout_2 .carousel-button-next{
        left: 86%;
    }
    .layout_2 .carouselSwiper .swiper-slide-active {
        transform: none !important;
    }
    .layout_2 .carouselSwiper .swiper-slide-prev {
        opacity: 1 !important;
    }
}