.shaped{
  display:block;
  width: 100%;             
  aspect-ratio: 622 / 434;
  background: var(--img) center/cover no-repeat;

  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 622 434" xmlns="http://www.w3.org/2000/svg"><path d="M584.938 0.0297362L447.443 0C441.271 25.5731 418.193 44.6043 390.643 44.6043C363.092 44.6043 340.014 25.6029 333.842 0H264.919C249.564 0 235.669 9.03981 229.467 23.0456L71.2911 380.653L0 380.742V434H162.129C168.301 408.427 191.379 389.396 218.93 389.396C246.48 389.396 269.558 408.397 275.73 434H367.725C383.081 434 396.975 424.96 403.177 410.954L561.324 53.4062H622V0H553.364L584.938 0.0297362Z" fill="white"/></svg>');
          mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 622 434" xmlns="http://www.w3.org/2000/svg"><path d="M584.938 0.0297362L447.443 0C441.271 25.5731 418.193 44.6043 390.643 44.6043C363.092 44.6043 340.014 25.6029 333.842 0H264.919C249.564 0 235.669 9.03981 229.467 23.0456L71.2911 380.653L0 380.742V434H162.129C168.301 408.427 191.379 389.396 218.93 389.396C246.48 389.396 269.558 408.397 275.73 434H367.725C383.081 434 396.975 424.96 403.177 410.954L561.324 53.4062H622V0H553.364L584.938 0.0297362Z" fill="white"/></svg>');
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-size: contain; 
          mask-size: contain;
}
