.tab-container {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    border-radius: 8px;
}

.tab-wrapper .tab-info-wrapper {
    position: relative;
    width: 70%;
    overflow: hidden;
}

.tab-wrapper .tab-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    pointer-events: none;
}

.tab-wrapper .tab-info.active {
    opacity: 1;
    pointer-events: auto;
    position: relative;
}

.tab-wrapper .tab-info .tab-image {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.tab-items {
    width: 30%;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 !important;
    justify-content: space-between;
}

.tab-items .is-active {
    background-color: var(--e-global-color-primary);
    color: #ffffff;
    border-radius: 8px;
    margin: 0 !important;
}

.tab-item__heading {
    color: var(--e-global-color-primary);
    padding: 40px 28px 40px 25px;
    cursor: pointer;
    margin: 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 36px;
    transition: all 0.3s ease;
}

.tab-item__heading:hover:not(.is-active) {
    background-color: #FBF3FF;
    border-radius: 8px;
}

.tab-wrapper .tab-text-box {
    position: absolute;
    bottom: 26px;
    left: 26px;
    background-color: white;
    border-radius: 8px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    padding: 36px 30px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 700ms ease-in-out, transform 600ms ease-in-out;
}

.tab-info.active .tab-text-box {
    opacity: 1;
    transform: translateY(0);
}

.tab-text-box .tab-heading {
    font-size: 20px;
    line-height: 26px;
}

.tab-text-box .text {
    font-size: 15px;
}

.tab-text-box .cta {
    font-size: 16px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

/* Tab icons (mobile) */
.tab-icons {
    display: none;
}

.tab-icon {
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab-wrapper-mobile {
    display: none;
}

/* Mobile responsive */
@media (max-width: 1024px) {
    .tab-items {
        display: none;
    }

    .tab-wrapper-mobile {
        display: block;
    }

    .tab-info-wrapper {
        width: 100%;
        height: 532px;
    }

    .tab-info {
        height: 100%;
    }

    .tab-wrapper .tab-text-box {
        max-width: unset;
        left: 16px !important;
        right: 16px !important;
        bottom: 28px !important;
    }

    .tab-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 16px 0;
    }

    .tab-icon.active svg path {
        fill: #E3AA1A;
        opacity: 1;
    }

    .tab-container {
        flex-direction: column;
    }
    .tab-wrapper {
        display: none;
    }
}

.tab-wrapper-mobile .swiper-slide {
  position: relative;     /* NE absolute */
  opacity: 1;
  pointer-events: auto;
  height: auto;
}

.tab-wrapper-mobile .tab-text-box {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: opacity 300ms ease-in-out;
    pointer-events: none;
    background-color: #ffffff;
    margin: 32px 16px;
    padding: 26px;
    border-radius: 8px;
}

.tab-wrapper-mobile .tab-info {
  position: static;       /* poništi absolute */
  opacity: 1;
  pointer-events: auto;
  height: auto;
}

.tab-wrapper-mobile .tab-image {
  width: auto;
  height: 100%;           /* NE 100% ako roditelj nema fiksnu visinu */
  object-fit: cover;
}

/* Dimenzije samog Swipera na mobu */
.tab-wrapper-mobile .swiper {
  width: 100%;
}

.tabPagination{
    bottom: -112px !important;
}
