.leaflet-control-layers-overlays {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px 60px 28px 18px;
}

.leaflet-control-layers-overlays label {
    font-family: 'Satoshi Bold', 'Sans-serif';
    font-weight: 700;
    color: #480E66;
    cursor: pointer;
    user-select: none;
}

.leaflet-control-layers-overlays label span {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

    
.leaflet-touch .leaflet-control-layers {
    border: none !important;
    background-clip: unset !important;
}

@media(min-width: 1025px){
    .leaflet-right{
        right: unset !important;
        left: 40px !important;
    }

    .leaflet-top{
        top: 50px !important;
    }
}

@media(max-width: 1025px){
    .leaflet-control-layers-overlays {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 16px 12px 16px 0;
        z-index: 999;
    }

    .leaflet-top{
        top: unset !important;
        bottom: 32px !important;
    }
}

.leaflet-top.leaflet-left{
    display: none !important;
}